{% extends "layout.html" %}


{% block body %} 

  
<section id="aboutUs">
    <div class="image-overlay">


        <nav>
            {% include 'includes/nav.html' %}
        </nav>
            <section id="introduction" class="wrap-sections">
                <div class="heading">
                    <h1>What is this <span style="color: #ffd92e;">CHAT MATE</span> ???</h1>
                    <h1>Who Are <span style="color: #ffd92e;">WE</span></h1>
                </div>
            </section>

            <section id="about-content" class="wrap-sections">
                <div class="sub-content">
                    <div class="sub-content sub-section">
                        <p>Not so long ago a group of four final year students decided to form a team over a phone call and just like that the our project started it's way.
                            <br>
                            <br>
                            Our team has four CSE students from Calcutta Institute of Engineering and Management, batch 2019-2023, under the guidance of our department professor Swagata Das.
                            <br>
                            <br>
                            To implement the knowledge we have on Data Science and Machine Learning, we tried to create a analyser system where we'll provide you the detailed analysis report of your WhatsApp chats. 
                            All you need to do is, upload the chats (be it a group chat or your very own personal chats) in a .txt file format and within seconds you'll be getting the analysis report.
                            <br>
                            <br>
                            The analysis will contain the active user, busiest month, day or hour, words mostly used, common emojis.
                            And to add to that, you'll be getting the sentiment analysis of your texts. (positive - neutral - negative)</p>
                    </div>
                </div>
            </section>



            {%endblock %}  