{% extends "layout.html" %}


{% block body %} 

<section id="howTo">
    <div class="image-overlay">


        <nav>
            {% include 'includes/nav.html' %}
        </nav>


            <section id="introduction" class="wrap-sections" >
                <div class="heading">
                    <h1>Confused How Exactly this works?</h1>
                    <h1>Here's <span style="color: #ffd92e;"> Step by Step Guide</span> how to operate this...</h1>
                </div>
            </section>

            <section id="process" class="wrap-sections" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content">
                                <p>1.Go to <span style="color: #ffd92e;"> WhatsApp</span> in your mobile phone and select the desired group or your personal chat.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image-content">
                                <img class="rounded mx-auto d-block img-res" src="{{url_for('static', filename='css/Images/p1.jpeg')}}" alt="Step1">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content">
                                <p>2. Press the <span style="color: #ffd92e;">context menu </span>( ⁝ ) in the top right corner of the chat.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image-content">
                                <img class="rounded mx-auto d-block img-res" src="{{url_for('static', filename='css/Images/p2.jpeg')}}" alt="Step2">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content">
                                <p>3. In the context menu, select the <span style="color: #ffd92e;">"More" item.</span></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image-content">
                                <img class="rounded mx-auto d-block img-res" src="{{url_for('static', filename='css/Images/p3.jpeg')}}" alt="Step3">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content">
                                <p>4. In the "More" items list, select the <span style="color: #ffd92e;">"Export Chat".</span></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image-content">
                                <img class="rounded mx-auto d-block img-res" src="{{url_for('static', filename='css/Images/p4.jpeg')}}" alt="Step4">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content">
                                <p>5. You should get a popup where you need to choose between exporting with or without media.Choose the <span style="color: #ffd92e;">"Without Media"</span>  option.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image-content">
                                <img class="rounded mx-auto d-block img-res" src="{{url_for('static', filename='css/Images/p5.jpeg')}}" alt="Step5">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content">
                                <p>6. <span style="color: #ffd92e;"> Upload</span> that exported chat here. .Choose the <span style="color: #ffd92e;">"Show Analysis"</span>  option.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image-content">
                                <img class="rounded mx-auto d-block" height="250px" width="450px" src="{{url_for('static', filename='css/Images/p6.jpeg')}}" alt="Step6">
                            </div>
                        </div>
                    </div>

                    


                </div>
            </section>

            {%endblock %} 